
/*The Grid Container for the layout for the site*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'About'
    'Donate'
    'Volunteer'
    'footer';
  background-color: rgb(247, 163, 229);
  gap: 10px;
}

/*The Header*/
header {
  display: block;
  background-color: #731576;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 193, 242);
}
/*Telling the page to use a Grid Layout*/
section {
  display: grid;
}

/*The Image code, set to be centered, ease out when not hovered on and be 80% of it's size.*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  vertical-align: center;
  transition: all ease-out 2s;
}
/*To expand to 1.2 of it's original size when the mouse hovers over it.*/
img:hover {
  transform: scale(1.2);
}

/*Simple Text formatting*/
p {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
}


/*Formatting for the Credit text under the photos of the Candidate*/
.cred {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #6c6c6c;
}

.cred:hover {
  color: #313131;
}

a.cred {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #606060;
}

a.cred:hover {
  color: #313131;
}

/*The article Text Formatting*/
txt {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  color: #272727;
}

a.txt {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #2b2b2b;
}


/*Formatting for the button*/
button {
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: rgb(255, 91, 219);
}

button:hover {
  background-color: rgb(99, 0, 77);
  color: rgb(255, 203, 244);
}
button:focus {
  background-color: rgb(99, 0, 77);
  color: rgb(255, 203, 244);
}

/*Formatting for the footer to be small and linked to my github*/
footer {
  font-size: 20px;
  display: block;
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F1F1F1;
  padding: 1.5%;
}






